.cartes, .Back, .Front, .Perdu{
  background-repeat: no-repeat;
  background-position: center center;
  border: 0px solid gray;
  cursor: pointer;

  /* La Largeur d'une Image */
  width: 150px;

  /* La Hauteur d'une Image */
  height: 199px;
}

.Back {
  z-index : 10;
  background-image: url(Back.jpg);
}